# Bem-vindos ao 2020

### Esse notebook mostra os diferentes passos usados para data gathering como web scraping e o uso de API's para elaborar o projeto de visualização de dados.

### A apresentação do projeto final foi feita mediante Tableau. 

### Link: https://public.tableau.com/profile/alvaro.camacho#!/vizhome/Bemvindosao2020/Story1?publish=yes

## 1. Uso de bibliotecas como Shutil, urllib, context.lib para automatizar a obtenção  das tabelas a serem usadas no projeto.

In [1]:
import shutil
import urllib.request as request
from contextlib import closing

for i in ['01','02','03','04','05','06','07','08','09','10','11','12']:
    for j in [1,2,3,6,7,8]:
        with closing(request.urlopen(f'ftp://ftp.ibge.gov.br/Comercio_e_Servicos/Pesquisa_Mensal_de_Comercio/Tabelas/2019/pmc_2019{i}_0{j}.xls')) as r:
            with open(f'../Final_Project/pmc_2019{i}_0{j}.xls', 'wb') as f:
                shutil.copyfileobj(r, f)
                
for i in ['01','02','03']:
    for j in [1,2,3,6,7,8]:
        with closing(request.urlopen(f'ftp://ftp.ibge.gov.br/Comercio_e_Servicos/Pesquisa_Mensal_de_Comercio/Tabelas/2020/pmc_2020{i}_0{j}.xls')) as r:
            with open(f'../Final_Project/pmc_2020{i}_0{j}.xls', 'wb') as f:
                shutil.copyfileobj(r, f)

for i in ['01','02','03','04','05','07','08','09','10','11','12']:
    with closing(request.urlopen(f'ftp://ftp.ibge.gov.br/Trabalho_e_Rendimento/Pesquisa_Nacional_por_Amostra_de_Domicilios_continua/Mensal/Tabelas/2019/pnadc_2019{i}_mensal.xlsx')) as r:
        with open(f'../Final_Project/PNAD/pnadc_2019{i}_mensal.xlsx', 'wb') as f:
                shutil.copyfileobj(r, f)

In [142]:
import pandas as pd
df = pd.read_csv('../Final_Project/Treated/receita_pmc2019.csv', encoding='latin-1').reset_index(drop=True)
df

,Pesquisa Mensal de Comércio,Janeiro_MA,Janeiro_AA,Fevereiro_MA,Fevereiro_AA,Março_MA,Março_AA,Abril_MA,Abril_AA,Maio_MA,...,Agosto_MA,Agosto_AA,Setembro_MA,Setembro_AA,Outubro_MA,Outubro_AA,Novembro_MA,Novembro_AA,Dezembro_MA,Dezembro_AA
0,1. Combustíveis e lubrificantes,-2.2,2.4,-1.5,2.4,1.8,-1.5,1.3,1.5,3.2,...,-4.5,-4.4,0.6,-5.5,2.1,-3.5,-0.4,-2.6,3.8,3.9
1,"2. Hipermercados, supermercados, produtos alim...",0.9,6.5,0.9,7.4,0.5,1.5,-1.8,9.8,1.2,...,0.9,6.3,0.1,3.2,0.3,5.2,1,5.9,0.3,3.8
2,2.1. Hipermercados e supermercados,0.9,6.8,0.8,7.6,0.5,1.8,-1.8,10.4,1.4,...,1.1,6.5,0.4,3.2,0,5.1,1.1,5.6,0.5,3.6
3,"3. Tecidos, vestuário e calçados",0,-0.6,4.2,11.5,-1.8,-5.0,-5.9,-2.9,1.6,...,-2.4,-2.3,3.4,-0.6,0.4,4.0,0.2,3.9,-1.6,0.6
4,4. Móveis e eletrodomésticos,0.8,1.3,-0.1,7.1,0.1,-0.8,1.7,4.1,0.4,...,-1,2.9,4.6,10.9,0.2,9.7,0.6,5.9,3.1,17.6
5,4.1. Móveis,-,2.8,-,10.6,-,0.4,-,8.5,-,...,-,6.6,-,11.2,-,7.0,-,7.9,-,13.6
6,4.2. Eletrodomésticos,-,0.6,-,5.6,-,-1.3,-,2.6,-,...,-,1.4,-,10.9,-,11.1,-,5.2,-,19.6
7,"5. Artigos farmacêuticos, médicos, ortopédicos...",-0.2,7.7,0.4,10.9,1.8,4.5,-0.5,5.6,0.8,...,-0.1,6.9,1,8.7,1.5,9.3,4.4,12.3,-1.6,10.4
8,"6. Livros, jornais, revistas e papelaria",-1.3,-24.4,3,-20.5,-14.8,-33.4,12.2,-21.5,0,...,0.4,-11.9,-0.6,-11.8,-0.5,-9.6,-6,-10.8,13,6.2
9,"7. Equipamentos e materiais para escritório, i...",7.2,2.9,-3,5.3,3.2,2.1,-9.9,-8.1,2,...,4,-3.0,-2.8,-0.4,5.6,4.3,2.8,7.4,-7.6,0.7
10,8. Outros artigos de uso pessoal e doméstico,8.3,7.1,0.7,11.9,0.6,-1.8,0.7,15.3,-1.2,...,0,6.2,1.6,10.0,1,9.8,1,3.7,-0.2,15.4
11,Volume de vendas do comércio varejista ampliad...,1.4,5.8,-0.5,10.4,1.6,0.3,-0.1,7.4,0.9,...,0.3,3.7,0.7,5.6,1.1,6.6,-0.3,5.5,0,7.2
12,"9. Veículos, motocicletas, partes e peças",6.5,9.5,-2,20.1,4.8,-0.4,1.1,7.9,-0.7,...,-0.7,3.9,0.5,11.4,2.9,10.2,-3,7.2,-2.3,9.8
13,10. Material de construção,0.2,5.9,0,13.8,2.6,3.4,2.2,8.6,-1.6,...,-0.5,2.1,1.4,8.9,2.3,9.4,0.2,7.0,-1,7.4

In [124]:
df = pd.read_csv('pmc_202001_01.csv', encoding= 'latin-1')
df = df.iloc[6:20, :7]
df = df.iloc[:,0]
descricao = pd.DataFrame(df).reset_index(drop=True)
descricao

                          Pesquisa Mensal de Comércio
0                     1. Combustíveis e lubrificantes
1   2. Hipermercados, supermercados, produtos alim...
2                  2.1. Hipermercados e supermercados
3                    3. Tecidos, vestuário e calçados
4                        4. Móveis e eletrodomésticos
5                                         4.1. Móveis
6                               4.2. Eletrodomésticos
7   5. Artigos farmacêuticos, médicos, ortopédicos...
8            6. Livros, jornais, revistas e papelaria
9   7. Equipamentos e materiais para escritório, i...
10       8. Outros artigos de uso pessoal e doméstico
11  Volume de vendas do comércio varejista ampliad...
12          9. Veículos, motocicletas, partes e peças
13                         10. Material de construção

In [128]:
mes = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
vendas_pmc2020 = pd.DataFrame()

for (i,m) in zip(['01','02','03'], mes):
    df_xls = pd.read_excel(f'../Final_Project/pmc_2020{i}_01.xls')
    df_xls.to_csv(f'../Final_Project/pmc_2020{i}_01.csv', encoding='latin-1', index=False)
    df = pd.read_csv(f'../Final_Project/pmc_2020{i}_01.csv', encoding= 'latin-1')
    df = df.iloc[6:20, :7]
    df = df.drop(columns=['Unnamed: 1','Unnamed: 2','Unnamed: 4','Unnamed: 5'])
    df = df.rename(columns={'Unnamed: 3': f'{m}_MA','Unnamed: 6': f'{m}_AA'}).reset_index(drop=True)
    vendas_pmc2020 = pd.concat([vendas_pmc2020,df.iloc[:,1:]], axis=1)

In [134]:
mes = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
receita_pmc2020 = pd.DataFrame()

for (i,m) in zip(['01','02','03'], mes):
    df_xls = pd.read_excel(f'../Final_Project/pmc_2020{i}_06.xls')
    df_xls.to_csv(f'../Final_Project/pmc_2020{i}_06.csv', encoding='latin-1', index=False)
    df = pd.read_csv(f'../Final_Project/pmc_2020{i}_06.csv', encoding= 'latin-1')
    df = df.iloc[6:20, :7]
    df = df.drop(columns=['Unnamed: 1','Unnamed: 2','Unnamed: 4','Unnamed: 5'])
    df = df.rename(columns={'Unnamed: 3': f'{m}_MA','Unnamed: 6': f'{m}_AA'}).reset_index(drop=True)
    receita_pmc2020 = pd.concat([receita_pmc2020,df.iloc[:,1:]], axis=1)

In [ ]:
mes = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
receita_pmc2020 = pd.DataFrame()

for (i,m) in zip(['01','02','03'], mes):
    df_xls = pd.read_excel(f'../Final_Project/pmc_2020{i}_06.xls')
    df_xls.to_csv(f'../Final_Project/pmc_2020{i}_06.csv', encoding='latin-1', index=False)
    df = pd.read_csv(f'../Final_Project/pmc_2020{i}_06.csv', encoding= 'latin-1')
    df = df.iloc[6:20, :7]
    df = df.drop(columns=['Unnamed: 1','Unnamed: 2','Unnamed: 4','Unnamed: 5'])
    df = df.rename(columns={'Unnamed: 3': f'{m}_MA','Unnamed: 6': f'{m}_AA'}).reset_index(drop=True)
    receita_pmc2020 = pd.concat([receita_pmc2020,df.iloc[:,1:]], axis=1)

In [135]:
receita_pmc2020 = pd.concat([descricao, receita_pmc2020], axis=1)
receita_pmc2020.to_csv('../Final_Project/Treated/receita_pmc2020.csv', encoding= 'latin-1', index=False)

## 2. Epidemic Model

In [30]:
from ipywidgets import interact

In [46]:
@interact(r = 3.5)
def plot_graph(r):
    import matplotlib.pyplot as plt
    import pandas as pd
    import numpy as np
    import ipywidgets as widgets

    # SOURCE:
    # https://scipython.com/book/chapter-8-scipy/additional-examples/the-sir-epidemic-model/


    # Total population, N.
    N = 210000000

    # A grid of time points (in days)
    t = range(75)

    # Initial number of infected and recovered individuals, I0 and R0.
    # S0 is the initial number of suscetible. Everyone else is susceptible to infection.
    I0 = 1
    R0 = 0
    S0 = N - I0 - R0

    # R is the `basic reproduction number`: how many people, on average, 1 person infects.
    R = r

    # The mean recovery rate in 1/days
    gamma = 1./14

    # the time between contacts (in days)
    beta = R * gamma

    # The SIR model differential equations.
    from scipy.integrate import odeint
    def sir_rates(y, t, N, beta, gamma):
        """
        S = Susceptible
        I = Infected
        R = Recovered
        """
        S, I, R = y

        # The rate of suscetible people deacreses as the number of infected increases (immunity).
        dSdt = - (beta / N) * S * I 

        # rate of infected is proportional to the number of suscetible ones and the number of infected ones.
        # the coefficient represents how many people one infects in a specific population
        # also, the rate of infected diminishes as a proportion of the rate of recovery increases, hence the second term.
        dIdt = (beta / N) * S * I  - gamma * I

        # rate of recovered is proportional to the number of infected. 
        # this proportion coefficient is the rate of recovery in 1/days
        dRdt = gamma * I

        # returns the rate of susceptible, infected and recovered from infection
        return dSdt, dIdt, dRdt

    # Initial conditions vector
    y0 = S0, I0, R0

    # Integration of SIR equations over the time grid, t.
    integral = odeint(sir_rates, y0, t, args=(N, beta, gamma))
    S, I, R = integral.T


    # Plot the data on three separate curves for S(t), I(t) and R(t)
    fig, ax = plt.subplots(figsize=(10,7))
    ax.plot(t, I, 'r', alpha=1, lw=3, label='Infected')


    ax.set_xlabel('Time /days')
    ax.set_ylabel('Number (210Ms)')
    ax.set_ylim(0,N*.001)
    ax.yaxis.set_tick_params(length=0)
    ax.xaxis.set_tick_params(length=0)
    ax.grid()
    ax.legend()

    for spine in ('top', 'right', 'bottom', 'left'):
        ax.spines[spine].set_visible(False)

    plt.show()

interactive(children=(FloatSlider(value=3.5, description='r', max=10.5, min=-3.5), Output()), _dom_classes=('w…

## 3. Pacote Bovespa para obtenção de dados históricos da Bolsa de Valores

In [5]:
!pip install bovespa

Collecting bovespa
  Downloading https://files.pythonhosted.org/packages/8e/44/39f2fc6767f8d93a4015d33ab15311dd874e473234d4cff5273f991f1430/bovespa-0.1.0.tar.gz
Building wheels for collected packages: bovespa
  Building wheel for bovespa (setup.py): started
  Building wheel for bovespa (setup.py): finished with status 'done'
  Created wheel for bovespa: filename=bovespa-0.1.0-cp37-none-any.whl size=6749 sha256=f8a36acc6618dca5188d233347eda584f0e698e3838569f59cd50403654cfd8b
  Stored in directory: C:\Users\Alvaro Camacho\AppData\Local\pip\Cache\wheels\72\b6\f6\a3755bee4d0fdf736026057235e86cd2ed4afc14c574afe278
Successfully built bovespa
Installing collected packages: bovespa
Successfully installed bovespa-0.1.0

In [85]:
import bovespa

bf = bovespa.File('C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Final_Project\\Acao/COTAHIST_A2020.txt')

alimentos = pd.DataFrame()
produtos_farm = pd.DataFrame()
varejo = pd.DataFrame()
combustible = pd.DataFrame()
it = pd.DataFrame()

stock_alimentos = ['BRFS3','CAML3','JBSS3','MDIA3','MRFG3','BEEF3','SMTO3','ABEV3','CRFB3','PCAR3','BKBR3','MEAL3']
stock_produtos_farm = ['NTCO3','HYPE3','RADL3']
stock_varejo = ['ARZZ3','BTOW3','CEAB3','CNTO3','GUAR3','LAME3','LAME4','AMAR3','LREN3','MGLU3','VVAR3','ALPA4','HGTX3',
                'GRND3','VIVA3','VULC3',]
stock_combustible_const = ['CSAN3','PETR3','PETR4','DTEX3',]
stock_it = ['LINX3','POSI3','VIVT4','TIMP3']

def tabela(stock, df):
    """
    Esta função recebe uma lista com os símbolo das empresas e um
    dataframe novo para incluir as informações referentes à ação.    
    """
    for i in stock:
        data = []
        quantidade = []
        acoes = []
        volume = []
        for rec in bf.query(i):
            data.append(rec.date)
            name = rec.company_name
            symbol = rec.stock_code
            acoes.append(rec.price_mean)
            quantidade.append(rec.volume)
            volume.append(rec.quantity)
        df1 = pd.DataFrame({'Data':data,'Açao': name,'Símbolo':symbol,'Preço':acoes, 
                            'Volume':quantidade, 'Quantidade Total':volume})
        df = pd.concat([df,df1], axis=0)
    return df

In [86]:
produtos_farm = tabela(stock_produtos_farm, produtos_farm)

In [87]:
alimentos = tabela(stock_alimentos, alimentos)

In [88]:
varejo = tabela(stock_varejo, varejo)

In [89]:
combustible = tabela(stock_combustible_const, combustible)

In [90]:
it = tabela(stock_it,it)

In [91]:
produtos_farm = produtos_farm.reset_index(drop=True)
produtos_farm

           Data          Açao Símbolo   Preço        Volume  Quantidade Total
0    2020-01-02  GRUPO NATURA   NTCO3   38.31  4.026088e+08          10508500
1    2020-01-03  GRUPO NATURA   NTCO3   40.46  2.261291e+09          55883200
2    2020-01-06  GRUPO NATURA   NTCO3   39.88  2.843141e+09          71292300
3    2020-01-07  GRUPO NATURA   NTCO3   40.15  9.431144e+08          23487900
4    2020-01-08  GRUPO NATURA   NTCO3   41.45  6.305986e+08          15211800
..          ...           ...     ...     ...           ...               ...
271  2020-05-11  RAIADROGASIL   RADL3  105.25  2.421560e+08           2300600
272  2020-05-12  RAIADROGASIL   RADL3  107.77  2.193408e+08           2035200
273  2020-05-13  RAIADROGASIL   RADL3  106.58  1.795472e+08           1684500
274  2020-05-14  RAIADROGASIL   RADL3  103.39  2.456189e+08           2375500
275  2020-05-15  RAIADROGASIL   RADL3  103.57  2.178821e+08           2103700

[276 rows x 6 columns]

In [92]:
alimentos = alimentos.reset_index(drop=True)
alimentos

            Data     Açao Símbolo  Preço       Volume  Quantidade Total
0     2020-01-02   BRF SA   BRFS3  35.80  114929389.0           3210200
1     2020-01-03   BRF SA   BRFS3  35.84  165339158.0           4612100
2     2020-01-06   BRF SA   BRFS3  35.61  133416323.0           3745800
3     2020-01-07   BRF SA   BRFS3  35.35  133219939.0           3768300
4     2020-01-08   BRF SA   BRFS3  36.15  249624847.0           6904200
...          ...      ...     ...    ...          ...               ...
1076  2020-05-11  IMC S/A   MEAL3   2.81   14468242.0           5145500
1077  2020-05-12  IMC S/A   MEAL3   2.74   14200138.0           5178700
1078  2020-05-13  IMC S/A   MEAL3   2.64   12334633.0           4668300
1079  2020-05-14  IMC S/A   MEAL3   2.61   10275605.0           3934900
1080  2020-05-15  IMC S/A   MEAL3   2.70    7615350.0           2817800

[1081 rows x 6 columns]

In [93]:
varejo = varejo.reset_index(drop=True)
varejo

            Data       Açao Símbolo  Preço      Volume  Quantidade Total
0     2020-01-02  AREZZO CO   ARZZ3  63.56  33646381.0            529300
1     2020-01-03  AREZZO CO   ARZZ3  63.16  44743433.0            708400
2     2020-01-06  AREZZO CO   ARZZ3  62.74  23622025.0            376500
3     2020-01-07  AREZZO CO   ARZZ3  62.78  40624701.0            647000
4     2020-01-08  AREZZO CO   ARZZ3  62.34  29249958.0            469200
...          ...        ...     ...    ...         ...               ...
1467  2020-05-11  VULCABRAS   VULC3   3.89   1887247.0            485100
1468  2020-05-12  VULCABRAS   VULC3   3.76   3225910.0            856300
1469  2020-05-13  VULCABRAS   VULC3   3.61   3092262.0            856300
1470  2020-05-14  VULCABRAS   VULC3   3.69   2900667.0            785000
1471  2020-05-15  VULCABRAS   VULC3   3.69   6129281.0           1659100

[1472 rows x 6 columns]

In [94]:
combustible = combustible.reset_index(drop=True)
combustible

           Data     Açao Símbolo  Preço       Volume  Quantidade Total
0    2020-01-02    COSAN   CSAN3  71.74   96963699.0           1351500
1    2020-01-03    COSAN   CSAN3  72.87  144431923.0           1981900
2    2020-01-06    COSAN   CSAN3  72.84  104336344.0           1432400
3    2020-01-07    COSAN   CSAN3  73.46  113923009.0           1550700
4    2020-01-08    COSAN   CSAN3  72.84  112534056.0           1544900
..          ...      ...     ...    ...          ...               ...
363  2020-05-11  DURATEX   DTEX3   9.38   19797186.0           2108800
364  2020-05-12  DURATEX   DTEX3   8.99   39797084.0           4423400
365  2020-05-13  DURATEX   DTEX3   8.64   26088490.0           3019500
366  2020-05-14  DURATEX   DTEX3   8.58   27021446.0           3148700
367  2020-05-15  DURATEX   DTEX3   8.44   45008058.0           5326800

[368 rows x 6 columns]

In [95]:
it = it.reset_index(drop=True)
it

           Data          Açao Símbolo  Preço       Volume  Quantidade Total
0    2020-01-02          LINX   LINX3  36.48   34420753.0            943500
1    2020-01-03          LINX   LINX3  38.01   37437855.0            984800
2    2020-01-06          LINX   LINX3  36.88   71098177.0           1927600
3    2020-01-07          LINX   LINX3  35.79  101073181.0           2823800
4    2020-01-08          LINX   LINX3  34.97   40066774.0           1145500
..          ...           ...     ...    ...          ...               ...
363  2020-05-11  TIM PART S/A   TIMP3  13.11   78017843.0           5949600
364  2020-05-12  TIM PART S/A   TIMP3  12.92   83308514.0           6444400
365  2020-05-13  TIM PART S/A   TIMP3  12.51  115172809.0           9204400
366  2020-05-14  TIM PART S/A   TIMP3  12.53  113648267.0           9065800
367  2020-05-15  TIM PART S/A   TIMP3  12.36  104718287.0           8470500

[368 rows x 6 columns]

In [96]:
produtos_farm.to_csv('../Final_Project/Treated/produtos_farm2020.csv', encoding='latin-1', index=False)
alimentos.to_csv('../Final_Project/Treated/alimentos2020.csv', encoding='latin-1', index=False)
varejo.to_csv('../Final_Project/Treated/varejo2020.csv', encoding='latin-1', index=False)
combustible.to_csv('../Final_Project/Treated/combustible2020.csv', encoding='latin-1', index=False)
it.to_csv('../Final_Project/Treated/it2020.csv', encoding='latin-1', index=False)

In [4]:
import pandas as pd
df= pd.read_csv('../Final_Project/Treated/varejo2019.csv', encoding='latin-1')
df

            Data       Açao Símbolo  Preço      Volume  Quantidade Total
0     2019-01-02  AREZZO CO   ARZZ3  55.14  20928210.0            379500
1     2019-01-03  AREZZO CO   ARZZ3  54.79  12837425.0            234300
2     2019-01-04  AREZZO CO   ARZZ3  53.65  24353958.0            453900
3     2019-01-07  AREZZO CO   ARZZ3  52.71  42472496.0            805700
4     2019-01-08  AREZZO CO   ARZZ3  53.55  17516502.0            327100
...          ...        ...     ...    ...         ...               ...
3491  2019-12-20  VULCABRAS   VULC3   8.88   4605683.0            518100
3492  2019-12-23  VULCABRAS   VULC3   9.08  15416846.0           1696200
3493  2019-12-26  VULCABRAS   VULC3   9.31  11153864.0           1197600
3494  2019-12-27  VULCABRAS   VULC3   9.14   5352963.0            585200
3495  2019-12-30  VULCABRAS   VULC3   9.19   8695041.0            945400

[3496 rows x 6 columns]

In [6]:
df.query('Símbolo == "LAME3"')

            Data          Açao Símbolo  Preço      Volume  Quantidade Total
962   2019-01-02  LOJAS AMERIC   LAME3  15.03  10608751.0            705800
963   2019-01-03  LOJAS AMERIC   LAME3  14.89   7834857.0            526000
964   2019-01-04  LOJAS AMERIC   LAME3  14.72  21463439.0           1457200
965   2019-01-07  LOJAS AMERIC   LAME3  15.02  33069805.0           2201300
966   2019-01-08  LOJAS AMERIC   LAME3  15.14  11278947.0            744900
...          ...           ...     ...    ...         ...               ...
1205  2019-12-20  LOJAS AMERIC   LAME3  19.38  21299653.0           1098600
1206  2019-12-23  LOJAS AMERIC   LAME3  19.73  12987435.0            658000
1207  2019-12-26  LOJAS AMERIC   LAME3  20.03  19194961.0            958200
1208  2019-12-27  LOJAS AMERIC   LAME3  19.77  35226819.0           1781200
1209  2019-12-30  LOJAS AMERIC   LAME3  19.67  26625631.0           1353300

[248 rows x 6 columns]

In [ ]:
df = pd.read_csv('varejo2019.csv', encoding='latin-1')
import seaborn as sns
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize = (20,8))
sns.lineplot(df.Data, df.Percentagem, hue =df.Açao, palette = 'rainbow', )

## 4. Web scraping usando Requests, Beautifulsoup e Selenium, para obter dados sobre COVID-19

In [ ]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.worldometers.info/coronavirus/country/brazil/'
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [ ]:
import pandas as pd
from selenium import webdriver
driver = webdriver.Chrome(executable_path='C:\\Users\\Alvaro Camacho\\Desktop\\Selenium/chromedriver.exe')

driver.get('https://www.worldometers.info/coronavirus/country/brazil/')

deaths = driver.execute_script('return window.Highcharts.charts[6].series[0].options.data')
cases = driver.execute_script('return window.Highcharts.charts[2].series[0].options.data')
date = driver.execute_script('return window.Highcharts.charts[2].xAxis[0].categories')
covid = pd.DataFrame(zip(date,cases, deaths))
covid = covid.rename(columns={0:'Data', 1:'Casos de COVID-19', 2:'Mortes Confirmadas'})
covid.Data.replace('Feb ','2020-02-', inplace=True, regex=True)
covid.Data.replace('Mar ','2020-03-', inplace=True, regex=True)
covid.Data.replace('Apr ','2020-04-', inplace=True, regex=True)
covid.Data.replace('May ','2020-05-', inplace=True, regex=True)
covid['Data']= covid.Data.astype(np.datetime64)
covid.to_csv('covid.csv', encoding='latin-1', index=False)

In [ ]:
fig, ax = plt.subplots(figsize=(12,6))
sns.lineplot(covid['Data'].iloc[10:40], covid['Casos de COVID-19'].iloc[10:40], color='lightblue', lw=4)
plt.xticks(rotation=45, horizontalalignment='right', fontweight='light', fontsize='small');

In [ ]:
fig, ax = plt.subplots(figsize=(12,6))
sns.lineplot(covid['Data'].iloc[10:40], covid['Mortes Confirmadas'].iloc[10:40], color='blue', lw=4)
plt.xticks(rotation=45, horizontalalignment='right', fontweight='light', fontsize='small');

In [ ]:
data = {'Ano': [2019,2020],'Taxa de Ocupação': ['87.28%','87.77%'], 'Taxa de Desocupação': ['12.72%','12.23%']}
desemprego = pd.DataFrame(data, columns=['Ano', 'Taxa de Ocupação', 'Taxa de Desocupação'])     
desemprego2019 = pd.DataFrame(desemprego.iloc[0,:])
desemprego2020 = pd.DataFrame(desemprego.iloc[1,:])
desemprego2019.T.to_csv('desemprego2019.csv', encoding='latin-1', index=False)
desemprego2020.T.to_csv('desemprego2020.csv', encoding='latin-1', index=False)

In [ ]:
vagas = {'Área':['Web Dev','Data', 'Ux-Ui'], 'Linked-in': [1835,1956,818],'Glassdoor': [1477,2525,357]}
vagas = pd.DataFrame(vagas, columns=['Área','Linked-in', 'Glassdoor'])   
vagas.to_csv('vagas.csv', encoding='latin-1', index=False)